/GirafAPI/GirafDb.db
/GirafAPI/bin/
/GirafAPI/obj/
/GirafAPI/GirafDb.db-shm
/GirafAPI/GirafDb.db-wal
/Giraf.UnitTests/obj/
/Giraf.UnitTests/bin/
/Giraf.IntegrationTests/obj/
/Giraf.IntegrationTests/bin/
/Giraf.IntegrationTests/obj/
/Giraf.IntegrationTests/bin/
/wwwroot/images/